{% extends 'base.html' %}
{% block title %}Category page{% endblock title %}
{% block main %}
<main class="sidebar">

	<section class="left">
		<ul>
					{% for singleCategory in categories %}
					<li><a href="/category/{{singleCategory.id}}">{{singleCategory.category}}</a></li>
				{% endfor %}
	</ul>
	</section>

	<section class="right">

	<h1>Category</h1>

	<ul class="listing">


		<li>

		<div class="row">
	{% for menu in menus %}

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{menu.name}}</h5>
        
        <a href="/dish/{{menu.id}}" class="btn btn-primary">Price: {{menu.price}} </a>
      </div>
    </div>
  </div>
	{% endfor %}
</div>

		</li>
		


</ul>

</section>
	</main>
    {% endblock main %}