{% extends 'base.html' %}
{% block title %}Category page{% endblock title %}
{% block main %}
<main class="sidebar">

	<section class="left">
		<ul>
					{% for singleCategory in categories %}
					<li><a href="/category">{{singleCategory.category}}</a></li>
				{% endfor %}
	</ul>
	</section>

	<section class="right">

	<h1>Category</h1>

	<ul class="listing">


	
		<li>

		<div class="details">
			<h3>Test</h3>
		<h2>Test</h2>
	
		<p>Test</p>


		</div>
		</li>


</ul>

</section>
	</main>
    {% endblock main %}